.no-rounded {
    border-radius: 0 !important;
}

@media (min-width: 980px) {
    .my-w-lg-50 {
        max-width: 50% !important;
        width: 50% !important;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex: 1 0;
}

footer {
    flex: 0;
    padding: 0.5rem 0.5rem;
}

.form-control:focus  {
    box-shadow: 0 0 0 0.1rem rgb(0 0 0 / 25%);
    border-color: rgb(0 0 0 / 25%);
}

.no-show-focus:focus {
    box-shadow: none;
    border: none;
    outline: none;
}

.scrolling-element {
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: gray white;
}

.scrolling-element::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

.scrolling-element::-webkit-scrollbar-track {
    background: transparent;
}

.scrolling-element::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px;
    border: 3px solid gray;
}

main {
    width: 98vw;
    max-height: 86vh;
    display: flex;
    flex: 1 0;
    flex-direction: column;
}

.chat-container {
    max-height: 78vh;
}

.img-keeper {
    position: relative;
}

.dark-background {
    position: absolute;
    background: rgba(55, 55, 55, 0.4);
    top: 0;
    left: 0;
    z-index: 5;
}

#shower-cut {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    border: 1px solid black;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #fffefe;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 0px 8px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main-div {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}