.comgrid-row {
    width: fit-content;
    display: flex;
    flex-direction: row;
    min-height: 32px;
    max-height: 32px;
}

.comgrid-cell {
    min-width: 32px;
    max-width: 32px;
    z-index: 1;
    border-color: rgba(10, 10, 10, 25);
    cursor: context-menu;
}

.comgrid-cell > span {
    z-index: 5;
    width: fit-content;
    height: fit-content
}

main {
    width: 98vw;
    max-height: 83vh;
    display: flex;
    flex: 1 0;
    flex-direction: column;
}