.comgrid-row {
    width: fit-content;
    display: flex;
    flex-direction: row;
    min-height: 32px;
    max-height: 32px;
}

.comgrid-cell {
    min-width: 124px;
    max-width: 124px;
    border-color: rgba(10, 10, 10, 25);
    cursor: context-menu;
}

.comgrid-cell > span {
    position: relative;
    z-index: 1;
    min-height: 32px;
    min-width: 25px;
    width: fit-content;
    background-color: inherit;
}

main {
    width: 98vw;
    max-height: 83vh;
    display: flex;
    flex: 1 0;
    flex-direction: column;
}

#popover {
    z-index: 10;
}